.h-wrapper {
    display: flex;
    align-items: center;
    padding: 1.5rem;
    justify-content: center;
    flex-wrap: wrap;
}

.left-side {
    margin: 6rem;
}

.right-side {
    width: auto;
}

.typewritter-text {
    padding: 7rem;
}

.big-icons {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    flex-wrap: wrap;
}

.big-icons>a:hover {
    color: aquamarine;
    transition: all 800ms ease;
}

.big-icons>a {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
}

@media (max-width: 640px) {
   
    .left-side {
        margin: 1rem;
        width: auto;
        text-align: center;
    }

    .aquaText {
        font-size: 2rem;

    }
    .big-icons {
        justify-content: space-evenly;
        gap: 2rem;
        flex-wrap: wrap;
       
    }
}
