.contact-form {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

label {
    color: aliceblue;
    font-weight: 600;
    font-size: 1.2rem;
    border-radius: 20px;
}

input {
    padding: 12px;
    border-radius: 10px;
    font-size: 1.2rem;
    outline: none;
    border: none;
}

textarea {
    outline: none;
    font-size: 1.2rem;
    padding: 7px;
    border-radius: 10px;

}

.button {
    margin-top: 10px;
}