.balls {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 4rem;
}

.ball {
    width: 8rem;
    height: 8rem;
}

@media (max-width: 640px) {
    .ball{
        width: 6rem;
        height: 6rem;
    }
    
}